body {
    /*background-image: url("../images/frite.jpg");*/
    background-size: auto ;
    background-color: #878787;
    padding-bottom: 40px;
/*ajout de Ecommerce en test*/
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

}
/*a{*/
    /*text-decoration:none!important;*/
    /*color: #343a40 !important;*/
    /*font-weight: bold;*/
/*}*/

.ico {
    width: 30px;
}

.left {
    display:flex;
}

.right {
    display:flex;
    align-self: flex-end;
    /*vertical-align: text-bottom !important;*/

}

h1 {
    text-align: center;
}

.bar {
    border-bottom: 2px black dotted;
    border-radius: 5px;
    /*box-shadow: 0px 1px 0px black;*/
    margin: 0px 15px 10px 15px;
}

.titleProduct {
    color: #5c5c5c;
    font-style: oblique;
    font-size: small;
}
li{
    list-style: none;
}

img
{
    /*width: 100px;*/
}
.titreMenuContainer
{
    width: 100%;
display: inline-flex;
    justify-content: space-between;
    border-bottom: 2px black dotted;
    border-radius: 2px;
}

h4 a/* utiliser dans les menus*/
{

    color: #343a40 !important;
}
h4 a:hover {
    color: #f8f9fa !important;
}
h4 a:visited
{
    color: #5c5c5c;
}

.container
{
    background-image: url("../images/frite.jpg")!important;
    /*opacity: 0.75;*/
    box-shadow:0 0 20px 3px black;
    width: 100%;
}