{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}
    {% block stylesheets %}<style>section{
            min-height: 500px;
        }</style>{% endblock %}
{% block body %}
    <h1>Accueil</h1>
<section>

</section>

{% endblock %}