{% extends 'base.html.twig' %}

{% block title %}{{ title }} - Accueil{% endblock %}
    {% block stylesheets %}<style>section{
            min-height: 500px;
        }</style>{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Accueil</h1>
<section>

</section>

{% endblock %}