{% extends 'base.html.twig' %}

{% block title %}{{ title }} - Accueil{% endblock %}
    {% block stylesheets %}
        <style>section {
                min-height: 500px;
            }</style>{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Accueil</h1>

    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-3">
                <table class="table table-striped table-hover">
                    <thead>
                    <h3 style="text-align: center">Nos Spécialités</h3>
                    {#<th>Nos Spécialités</th>#}
                    </thead>
                    <tbody>
                    <tr>
                        <td>Assiettes j'me fiche</td>
                    </tr>
                    <tr>
                        <td>Brochette Maroilles</td>
                    </tr>
                    <tr>
                        <td>Savoyard Steack</td>
                    </tr>
                    <tr>
                        <td>Ch'timi</td>
                    </tr>
                    <tr>
                        <td>Steack Chevre</td>
                    </tr>
                    <tr>
                        <td>Super Delice</td>
                    </tr>
                    <tr>
                        <td>Le Bolo</td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}