{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}
{% block body %}
<h1>Ceci est la page des menu!!!</h1>

    {% for product in produits %}
        <div style="border:1px solid;padding:5px;">
            {{ product.tile }}<br />


            {#<a href="{{ path('article_display', {'slug': article.slug}) }}">Voir le détail</a><br />#}
            {#<a href="{{ path('ajout_article_panier', {'idArticle': article.id}) }}">Ajouter au panier</a><br />#}
            {#<a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer</a>#}
        </div>
    {% endfor %}
{% endblock %}